measurements
measurements/*
/.vscode
/.vs
/build*
/external
/figures
/out
/results
/tmp
/venv
/video
/instant-ngp
/nsight_profile
/*.dll
/*.exe
/*.json
*.ingp
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini
